body {
	background-color:#252830;
}

p {
	text-align:center;
	border:1px solid #000000;
	border-radius: 10px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left: auto;
	margin-right: auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.name{
	font-size:36px;
	color:#b7b7b7;
	text-decoration: none;
	text-align:center;
	padding-bottom:5px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.email{
	font-size:36px;
	width: 380px;
    color: #1CA8DD;
}

.about{
	width: 250px;
    color: #b7b7b7;
}

a {
    color: #C2C8CC;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.link{
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	list-style-type: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}